@{
    ViewBag.Title = "About";
}
    <div class="container">




        <div class="jumbotron" center>
            <div style="text-align:center">
                <h4 class="display-4"> Grigori Zogka</h4>
                <p class="lead"> Development for the web project <br> Polling website</p>

                <p><h2>We Make Publishing Real Simple </h2></p>

                The Smoothest Way to Create Viral, Engaging and Fun Content!

            </div>
        </div>

        <div class="jumbotron1" center>
            <div style="text-align:center">
                <h2 class="display"> Spend Time Growing Your Audience</h2>

                <h4>Our goal is to improving the way online voting is done</h4>
            </div>
        </div>
