@{
    ViewBag.Title = "Contact";
}

<div class="container">


    <!--display contact details-->
    <div class="row1 mt-sm-4 mt-md-10">
        <div style="text-align:center">
            <p><h2>Contact details</h2></p>

            <p class="lead"><h2>Edinburgh Napier University.</h2></p>

            Sighthill Campus<br />
            Sighthill Court<br />
            Edinburgh<br />
            EH11 4BN<br />

            <p><h4>0000 100 0000</h4></p>
            <h5>studentrecruitment@napier.ac.uk</h5><br />

        </div>

    </div>


    <div class="row2 mt-sm-4 mt-md-10">
        <div style="text-align:center">
            <p><h2>Contact us</h2></p>

            <p class="lead">
                Registered in England and Wales. Registered company no: 000000.
                Main country of operation: United Kingdom.
            </p>
        </div>
    </div>
</div>
