@{
    ViewBag.Title = "Your Petition";
}

<div class="container" style="padding-top:4px">

    <div class="jumbotron">
        <h1>Your Petition</h1>
        <p class="lead">"Your Petitions" was founded in Scotland in 2020, and since then has been the most polular online platform for creating sharing and supporting petitions </p>
        <h3>The place to create instand, real-time petitions for free!</h3>
        <p><a href="~/Petitions/Index" class="btn btn-primary btn-lg">Create a petition &raquo;</a></p>
    </div>




    <div class="row">
        <div class="col-md-4">
            <h3>Stay up to date</h3>
            <p>
                Stay up to date with current events.
            </p>
            <p><a class="btn btn-primary" href="https://www.theguardian.com/uk">News &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Explore what the UK thinks</h3>
            <p>Market research and opinions.</p>
            <p><a class="btn btn-primary" href="https://yougov.co.uk/topics/overview/survey-results">YouGov &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Petitions</h3>
            <p>UK Government and Parliament.</p>
            <p><a class="btn btn-primary" href="https://petition.parliament.uk/">Get involved with the UK Parliament &raquo;</a></p>
        </div>
    </div>


    <div class="jumbotron" style=" background-image: url('../../Content/images/lfndtoirttvx.jpg'); ">
        <h2>Be Creative</h2>
        <p class="lead">Use "Your Petition" and comunicate your ideas, sugestions and creativity </p>


    </div>



</div>
